:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;
    --secondary-base: #9775fa;
    --secondary-tint: #e5dbff;
    --secondary-shade: #7048e8;
    --tertiary-base: #ff922b;
    --tertiary-tint: #ffe8cc;
    --tertiary-shade: #f76707;
    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;
    --white: #ffffff;
    --black: #000000; 
    
    /* MISCELLANEOUS */
    --nav-height: 100px; /* Update the value in the flexbox topic */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   font-size: 62.5%; 
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--grey-base);
}


h1{
    text-align: center;
    margin-top: 36px;
    font-size: 4.5rem;
}

.center {
    margin-top: 3.6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    align-items: center;
    width: 70rem;
    justify-items: center;
    gap: 2rem;
    margin: 3rem auto;
}
  
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10%;
  margin-top: 3.6rem;
}

.text {
  font-size: 2.2rem;
  padding-left: 2rem;
  padding-top: 2rem;
}

.text p{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--font-weight-bold);
}

.text p1{
    font-size: 1.4rem;
    color: #4D5562;
}

.author-info {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1.6rem;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

@media (max-width: 49rem){
  html {
   font-size: 50%; 
  }
  .container{
    margin: 1rem auto;
  }



}

@media (max-width: 40rem){
  html {
   font-size: 38.5%; 
  }

  .container{
    width: 80rem;
    margin: 4rem auto;
  }

  img{
    width: 20rem;
  }

}